
@*
*@
@{
}

<div class="header">
</div>

<div class="container">
    <div ng-view=""></div>
</div>

<div class="footer">
    <div class="container">
        <p>From the GaTech Team</p>
    </div>
</div>